<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ 'styles.css' }}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'assets/apple-touch-icon-precomposed.png' }}">
  <link rel="shortcut icon" href="{{ 'assets/favicon.ico'  }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'atom.xml'}}">

  {% seo title=false %}
</head>
